<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" restent="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
  
    <div class="table-responsive" th:fragment="table">
        <table class="table table-striped table-bordered zero-configuration">
            <thead>
                <tr>
                    <th>Nro resolución</th>
                    <th>Autoridad</th>
                  
                    <th>Nro Folio</th>
     
                    <th>Fecha Resolución</th>
                    <th>Acciones</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr th:each="res, index : ${resoluciones}" th:if="${res.estado_resolucion != 'X' }">
                    <td th:text="${res.numero_resolucion}"></td>
                    <td th:text="${res.autoridad.persona.nombre_persona}+' '+${res.autoridad.persona.ap_paterno_persona}+' '+${res.autoridad.persona.ap_materno_persona}"></td>
                   
                    <td th:text="${res.folio_resolucion}"></td>
           
                    <td th:text="${res.fecha_resolucion}"></td>
                    <td>
                        <center>
                            <div class="btn-group mr-1 mb-1">
                                <button type="button" class="btn btn-ires btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="la la-cog"></i></button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item"  th:onclick="renombrar([[${res.id_resolucion}]])">Ver Archivo</a>
                                    <a class="dropdown-item"  th:onclick="abrirDocumento([[${res.ruta_marca_resolucion}]])">Ver Archivo con Marca</a>
                                    <a th:if="${session.usuario.estado != 'AU'}" class="dropdown-item"  th:href="${'/adm/editar-resolucion/'+res.id_resolucion}">Editar</a>
                                    <a th:if="${session.usuario.estado != 'AU'}" class="dropdown-item" th:id="${res.id_resolucion}" onclick="MandarURL(this.id)">Eliminar</a>
                            
                                </div>
                            </div>
                        </center>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>