<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        /* Estilo para el fondo con degradado */
        .fondo-degradado {
        
            background: linear-gradient(90deg, rgba(31,199,115,1) 26%, rgba(39,170,224,1) 60%, rgba(68,180,203,1) 100%);
        }
    </style>
</head>

<body>
    <div th:fragment="sideBar" class="main-menu menu-fixed menu-dark menu-accordion menu-shadow"
        data-scroll-to-active="true">
        <div class="main-menu-content" style="background: #3046b6;">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation"
                style="background: #3046b6;" th:if="${session.usuario.estado != 'I'}">

                <li class="nav-item"><a href="#"><i class="la la-user"></i><span class="menu-title"
                            data-i18n="Dashboard">Adicionar Persona</span></a>
                    <ul class="menu-content" style="background: #3046b6;">
                        <li><a class="menu-item" href="/adm/PersonaR"><i></i><span>Persona</span></a>
                        </li>
                        <li th:if="${session.usuario.estado == 'S'}"><a class="menu-item"
                                href="/UsuarioL"><i></i><span>Usuario</span></a>
                        </li>
                        <li><a class="menu-item" href="/adm/AutoridadR"><i></i><span>Autoridad</span></a>
                        </li>
                        <li><a class="menu-item" href="/adm/ConsejoR"><i></i><span>Consejo</span></a>
                        </li>
                        <li><a class="menu-item" href="/adm/TipoResolucionR"><i></i><span>Tipo Resoluciones</span></a>
                        </li>
                        <li><a class="menu-item" href="/adm/TipoConvenioR"><i></i><span>Tipo Convenio</span></a>
                        </li>
                        <li><a class="menu-item" href="/adm/InstitucionR"><i></i><span>Institucion</span></a>
                        </li>
                        <li><a class="menu-item" href="/adm/RepresentanteR"><i></i><span>Representante</span></a>
                        </li>
                        <li><a class="menu-item" href="/adm/BeneficiadoR"><i></i><span>Beneficiario</span></a>
                        </li>
                        <li><a class="menu-item" href="/adm/TipoBeneficiarioR"><i></i><span>Tipo Beneficiario</span></a>
                        </li>

                    </ul>
                </li>

                <!-- <li class="nav-item"><a href="#"><i class="la la-user"></i><span class="menu-title"
                            data-i18n="Dashboard">RESOLUCION</span></a>
                    <ul class="menu-content" style="background: #3046b6;">
                        <li th:each="year : ${years}">
                            <a th:href="'/adm/ResolucionL?year=' + ${year}" th:text="${year}"></a>
                        </li>
                    </ul>
                </li> -->



                <li><a class="menu-item" href="/adm/ConvenioL"><i class="la la-file-text"></i><span>Adicionar
                            Convenios</span></a>
                </li>

                <!-- <li><a class="menu-item" href="/adm/ResolucionL"><i class="la la-file-text"></i><span>Adicionar
                            Resoluciones</span></a>
                </li> -->


                <li><a class="menu-item" href="/adm/ResolucionP"><i class="la la-file-text"></i><span>Adicionar
                            Resoluciones</span></a>
                </li>
                
                <li><a type="button" th:data-toggle="${'modal'}" th:data-target="${'#fadeIn'}" onclick="openModal()"><i
                            class="ft-folder"></i><span class="menu-title">Listar Resoluciones Gestión</span></a>
                </li>
                <li><a class="menu-item" href="/adm/ReporteCon"><i class="la la-file-text"></i><span>Reportes</span></a>
                </li>
                <li style="background: linear-gradient(90deg, rgba(31,199,115,1) 26%, rgba(39,170,224,1) 60%, rgba(68,180,203,1) 100%);">
                    <a  class="menu-item"  th:onclick="abrirDocumento('/home/ubuntu/Documentos/spring boot/SecretariaGeneral/archivos/manual//manual.pdf')" ><i class="la la-book"></i><span>Manual de Usuario</span></a>
                </li>

            </ul>
        </div>

        
    </div>


</body>

</html>