<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head th:replace="layout/head :: head">
</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern 2-columns   fixed-navbar" data-open="click"
    data-menu="vertical-menu-modern" data-col="2-columns">

    <!-- BEGIN: Header-->
    <nav th:replace="layout/topBar :: topBar"></nav>
    <!-- END: Header-->

    <!-- BEGIN: Main Menu-->
    <nav th:replace="layout/sideBar :: sideBar"></nav>
    <!-- END: Main Menu-->

    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
           
            <section id="basic-form-layouts">
                <div class="row match-height">
                    <div class="col-md-12">
                        <div class="card border-bottom-dark box-shadow-2 border-bottom-2">
                            <div class="card-header card-head-inverse bg-dark">
                                <h4 class="card-title text-white" id="basic-layout-form" th:text="'Lista de Convenios del '+${session.usuario.consejo.nombre_consejo}"></h4>
                                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a href="/adm/ConvenioForm" type="button" class="btn btn-success buttonAnimation" data-animation="pulse"><i class="la la-plus"></i>
                                            Nuevo Registro</a></li>
                                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collapse show">
                                <div class="card-body" id="fragmentContainer">
                                    <th:block th:replace="convenio/tableFragment :: table"></th:block>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" tabindex="-1" id="ModalEvaluacion" role="dialog"
                aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">

                        <div>


                            <iframe width="800" height="800" id="iframe-pdf" frameborder="0"
                                allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>

                    </div>
                </div>
            </div>

            <div class="modal fade" tabindex="-1" id="ModalEvaluacion2" role="dialog"
                aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">

                        <div>


                            <iframe width="800" height="800" id="iframe-pdf2" frameborder="0"
                                allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>

                    </div>
                </div>
            </div>
            </section>
          
        </div>
    </div>
    <!-- END: Content-->

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>
    <footer th:replace="layout/footer :: footer"> </footer>

    <div th:replace="layout/script :: script"></div>
    <script type="text/javascript">
        function renombrar(id_archivo_adjunto) {
            var id_a = id_archivo_adjunto;

            //alert(id_archivo_adjunto);

            $("#ModalEvaluacion").modal("show");

            $("#id_a").val(id_a);

            $("#iframe-pdf").attr("src", `../../../adm/openFileConvenio/${id_a}`)


        }
    </script>

<script type="text/javascript">
    function abrirDocumento(ruta) {
        // Codificar la ruta para que sea una URL válida
        var rutaCodificada = encodeURIComponent(ruta);

        // Muestra el modal
        $("#ModalEvaluacion2").modal("show");

        // Configura la fuente del iframe con la ruta codificada del documento
        $("#iframe-pdf2").attr("src", `../../../adm/openFileConvenioMarca?ruta=${rutaCodificada}`);
    }
</script>
   

    <script>
        function MandarURL(a) {
            console.log(a);
            // Swal.fire({
            //   title: 'Eliminar Registro?',              
            //   type: 'error',     
            //   showCancelButton: true,
            //   cancelButtonText: "Cancelar",         
            //   html:
            //   "<a"+
            //   " class='btn btn-danger btn-min-width' "+
            //   " href='/adm/eliminar-persona/"+a+"'>Eliminar</a>",
            // });
            Swal.fire({
                title: 'Eliminar Registro?',
                type: 'error',
                showCloseButton: true,
                showCancelButton: true,
                focusConfirm: false,
                confirmButtonText: '<a class="text-white" href="/adm/eliminar-convenio/' + a + '" >Eliminar</a>',
                confirmButtonAriaLabel: 'Thumbs up, great!',
                cancelButtonText: 'Cancelar',
                cancelButtonAriaLabel: 'Thumbs down',
                confirmButtonClass: 'btn btn-primary',
                buttonsStyling: false,
                cancelButtonClass: 'btn btn-danger ml-1',
            })
        }
    </script>

</body>
<!-- END: Body-->

</html>