<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
  
    <div class="table-responsive" th:fragment="table">
        <table class="table table-striped table-bordered zero-configuration">
            <thead>
                <tr>
                    <th>Nro Convenio</th>
                    <th>Representante</th>
                    <th>Autoridad</th>
                    <th>Gestión</th>
                   
                    <th>Nro Folio</th>
   
                    <th>Acciones</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr th:each="con, index : ${convenios}" th:if="${con.estado_convenio != 'X'}">
                    <td th:text="${con.numero_convenio}"></td>
                    <td th:text="${con.representante.persona.nombre_persona}+' '+${con.representante.persona.ap_paterno_persona}+' '+${con.representante.persona.ap_materno_persona}"></td>
                    <td th:text="${con.autoridad.persona.nombre_persona}+' '+${con.autoridad.persona.ap_paterno_persona}+' '+${con.autoridad.persona.ap_materno_persona}"></td>
                    <td th:text="${con.gestion_convenio}"></td>
                   
                    <td th:text="${con.folio_convenio}"></td>
    
                    <td>
                        <center>
                            <div class="btn-group mr-1 mb-1">
                                <button type="button" class="btn btn-icon btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="la la-cog"></i></button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item"  th:onclick="renombrar([[${con.id_convenio}]])">Ver Archivo</a>
                                    <a class="dropdown-item"  th:href="${'/adm/editar-convenio/'+con.id_convenio}">Editar</a>
                                    <a class="dropdown-item" th:id="${con.id_convenio}" onclick="MandarURL(this.id)">Eliminar</a>
                            
                                </div>
                            </div>
                        </center>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>